<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
    <title>Community</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/blist.css">
</head>
<body>
<div class="logo">
	<a th:href="@{/main}">
  		<h1>Hi-look
   			<span>Find love, Save lives.</span>
 		</h1>
  	</a>
</div>

<!-- 로그인 하지 않은 상태 -->
<div th:if="${session.user==null}" class="top_menu">
	<a href="/user/login">로그인</a>| 
	<a href="/user/join">회원가입</a>
</div>	
	
	<!-- 로그인 한 상태 -->
<div th:if="${session.user!=null}" class="login_success">
	<p>환영합니다! <span th:text="${session.user.user_id}" class="bold"></span> 님!</p>
		<a href="/user/logout">로그아웃</a>|
		<a href="/user/withdraw">회원탈퇴</a>
</div>

 <div class="back color-7">
    <div class="row columns">
      <h3>CATEGORY</h3>
      <ul class="menu align-center expanded text-center SMN_effect-7">
        <li><a href="/animal/list" data-hover="유기동물 조회">유기동물 조회</a></li>
        <li><a href="/board/list" data-hover="커뮤니티">커뮤니티</a></li>
        <li><a href="/shelter/list" data-hover="보호소 조회">보호소 조회</a></li>
      </ul>
    </div>
</div>

<div class="table_wrap" th:if="${session.user!=null}">
	<a href="/board/write" class="top_btn">게시글 등록</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th class="bno">No.</th>
			<th class="title">Title</th>
			<th class="writer">Writer</th>
			<th class="regdate">Register Date</th>
			<th class="updatedate">Update Date</th>
			<th class="cnt">View Count</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:each="board:${list} ">
		<tr class="tBody" th:object="${board}">
			<td class="bno" th:text="${board.bno}"></td>
			<td class="title"><a th:href="@{/board/get(bno=${board.bno})}" th:text="${board.title}"></a></td>
			<td class="writer" th:text= "${board.writer}"></td>
			<td class="regdate" th:text= "${#dates.format(board.regdate, 'yyyy/MM/dd')}"></td>
			<td class="updatedate" th:text= "${#dates.format(board.updatedate, 'yyyy/MM/dd')}"></td>
			<td class="cnt" th:text="${board.cnt}"></td>
		</tr>
		</th:block>
	</tbody>
</table>
	<div th:object="${pageMaker}">
		<div class="big-width" style="text-align: center">
			<a class="changePage" th:if="*{prev} " th:href="*{startPage - 1}">&lt;</a>
			<th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
				<code th:if= "${pageMaker.cri.getPageNum() == num}" th:text="${num}"></code>
				<a class="changePage" th:unless="${pageMaker.cri.getPageNum() == num}" th:text="${num}" th:href="${num}"></a>
			</th:block>
			<a class="changePage" th:if="*{next}" th:href="*{endPage + 1}">&gt;</a>
			<form action="/board/list" th:object="${criteria}" name="pageForm">
				<input type="hidden" name="pageNum"  th:field="*{pageNum}">
				<input type="hidden" name="amount" th:field="*{amount}">								
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script th:inline="javascript">

	let result = /*[[${result}]]*/ '';
	let pageForm = $(document.pageForm);
	
	$(document).ready(function(){
	
		if(result === ''){
			return;
		}
		if(result === "write success!"){
			alert("게시글 등록이 완료되었습니다.");
		}
		
		if(result === "modify success!"){
			alert("게시글 수정이 완료되었습니다.");
		}
		
		if(result === "delete success!"){
			alert("게시글 삭제가 완료되었습니다.");
		}  
	});
	
	$("a.changePage").click(function(e){
//		console.log("e : " + e)
		e.preventDefault(); 
		let pageNum = $(this).attr("href");
		console.log(pageNum + "페이지 확인");
		pageForm.find("input[name='pageNum']").val(pageNum);
		pageForm.submit();
	});
	
	$(document).on("click", ".title", function(e) {
        // 로그인 상태 확인
        var isLoggedIn = /*[[${session.user != null}]]*/'';
        
        // 로그인하지 않은 경우 경고창 표시
        if (!isLoggedIn) {
            e.preventDefault(); // 클릭 이벤트 중지
            alert("로그인 후에 글 읽기가 가능합니다.");
        }
    });
</script>
</html>