<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
    <title>Write</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/write.css">

</head>
<body>
<div class="logo">
	<a th:href="@{/main}">
  		<h1>Hi-look
   			<span>Find love, Save lives.</span>
 		</h1>
  	</a>
</div>

<!-- 로그인 하지 않은 상태 -->
<div th:if="${session.user==null}" class="top_menu">
	<a href="/user/login">로그인</a>| 
	<a href="/user/join">회원가입</a>
</div>
	
<!-- 로그인 한 상태 -->
<div th:if="${session.user!=null}" class="login_success">
	<p>환영합니다! <span th:text="${session.user.user_id}" class="bold"></span> 님!</p>
		<a href="/user/logout">로그아웃</a>|
		<a href="/user/withdraw">회원탈퇴</a>
</div>

 <div class="back color-7">
    <div class="row columns">
      <h3>CATEGORY</h3>
      <ul class="menu align-center expanded text-center SMN_effect-7">
        <li><a href="/animal/list" data-hover="유기동물 조회">유기동물 조회</a></li>
        <li><a href="/board/list" data-hover="커뮤니티">커뮤니티</a></li>
        <li><a href="/shelter/list" data-hover="보호소 조회">보호소 조회</a></li>
      </ul>
    </div>
</div>

<div class="form-container">
    <h1>게시글 등록</h1>
    <form action="/board/write" method="post" enctype="multipart/form-data">
        <div class="input_wrap">
            <label style="font-weight: bold;">Writer</label>
            <input name="writer" th:value="${session.user.user_id}" readonly class="form-control">
        </div>
        <div class="input_wrap">
            <label style="font-weight: bold;">Title</label>
            <input name="title" class="form-control">
        </div>
        <div class="input_wrap">
            <label style="font-weight: bold;">Content</label>
            <textarea rows="3" name="content" class="form-control"></textarea>
        </div>
     	<p>파일을 선택하세요.</p>
		<input type="file" name="file"><br>
        <button class="btn">등록</button>
	</form>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script th:inline="javascript">
	
	$(".btn").on("click", function(e){

	  var title = $("input[name='title']").val();
	  var content = $("textarea[name='content']").val();

	  if (title === "" || content === "") {
	    alert("글 제목과 글 내용을 모두 입력해주세요.");
	    e.preventDefault();
	    return;
	  }
	  
	});
</script>
</html>