<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
    <title>Shelter</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/slist.css">
</head>
<body>
<div class="logo">
	<a th:href="@{/main}">
  		<h1>Hi-look
   			<span>Find love, Save lives.</span>
 		</h1>
  	</a>
</div>


<!-- 로그인 하지 않은 상태 -->
<div th:if="${session.user==null}" class="top_menu">
	<a href="/user/login">로그인</a>| 
	<a href="/user/join">회원가입</a>
</div>
	
<!-- 로그인 한 상태 -->
<div th:if="${session.user!=null}" class="login_success">
	<p>환영합니다! <span th:text="${session.user.user_id}" class="bold"></span> 님!</p>
		<a href="/user/logout">로그아웃</a>|
		<a href="/user/withdraw">회원탈퇴</a>
</div>

 <div class="back color-7">
    <div class="row columns">
      <h3>CATEGORY</h3>
      <ul class="menu align-center expanded text-center SMN_effect-7">
        <li><a href="/animal/list" data-hover="유기동물 조회">유기동물 조회</a></li>
        <li><a href="/board/list" data-hover="커뮤니티">커뮤니티</a></li>
        <li><a href="/shelter/list" data-hover="보호소 조회">보호소 조회</a></li>
      </ul>
    </div>
</div>

<form method="GET" action="/shelter/list" class="form">
    <input id="keyword" class="keyword" name="care_nm" type="text" placeholder="보호소 이름을 입력하세요." style="text-align:center; width: 400px;">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="key_btn">검색</button>
</form>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th class="text-center" style="font-weight:bold;">동물보호센터</th>
            <th class="text-center" style="font-weight:bold;">보호센터 주소</th>
            <th class="text-center" style="font-weight:bold;">보호센터 전화번호</th>
            <th class="text-center" style="font-weight:bold;">구조대상 동물</th>
        </tr>
    </thead>
    <tbody>
		<tr th:each="shelterVO : ${items}" th:if="${shelterVO != null}">
			<td class="text-center" th:text="${shelterVO.careNm}"></td>
    		<td class="text-center" th:text="${shelterVO.careAddr}"></td>
    		<td class="text-center" th:text="${shelterVO.careTel}"></td>
    		<td class="text-center" th:text="${shelterVO.saveTrgtAnimal}"></td>
		</tr>
    </tbody>
</table>
</body>
<script th:src="@{/js/jquery.js}"></script>
</html>